/* Add this CSS to your existing stylesheet */

.food-preview {
    border: 1px solid #ddd; /* Add a border */
    padding: 10px; /* Add padding */
    padding-top: 0px;
    margin-bottom: 10px; /* Add margin between items */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .food-preview h4 {
    margin-top: 5px;
    margin-bottom: 5px; /* Add margin below h4 */
  }
  
  .food-preview p {
    margin: 0; /* Remove default margin for paragraphs */
  }
  